<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <% allArr.forEach(items => { %>
            <h3> Country :  <%= items.country %></h3>
            <h3> TotalConfirmed  : <%= items.totalconfirmed %></h3>
            <h3> TotalDeaths  : <%= items.totaldeaths %></h3>
            <h3> TotalRecovered :<%= items.totalrecovered %></h3>
            <h3> Date :  <%= items.date %> </h3>

            <form action="/database">
                <input type="hidden" name="country" value="<%= items.country %>">
                <input type="hidden" name="totalconfirmed" value="<%= items.totalconfirmed %>">
                <input type="hidden" name="totaldeaths" value="<%= items.totaldeaths %>">
                <input type="hidden" name="totalrecovered" value="<%= items.totalrecovered %>">
                <input type="hidden" name="Date" value="<%= items.date %>">
                <button>Add to my records</button>
            </form>
       <% }); %>
    </section>
</body>
</html>